@import "tailwindcss";

@import "./pages/main.css";
@import "./pages/about.css";
@import "./pages/projects.css";
@import "./pages/contact.css";
@import "./pages/home.css";

@import "./components/navbar.css";
@import "./components/projectCard.css";

:root {
  --background: #000000;
  --foreground: #e5e7eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
